{% extends 'index.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

            {% include 'profile.html' %}

            </div>
            <div class="col-md-8">
                {% for article in jobs %}
                    <div class="card">
                        <div class="card-content">
                            <small class="category">{{ article.created_at }}<a
                                    href="user/@{{ article.author }}">
                                @Alimov Tillo</a></small>
                            <a href="{{ article.get_absolute_url }}"><h4
                                    class="card-title">{{ article.title }}</h4>
                            </a>
                            <p>{{ article.description|striptags|truncatechars:150 }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <a href=""><i class="material-icons">bookmark_border</i></a>
                            </div>
                            <div class="stats">
                                <i class="material-icons">thumb_up</i> {{ article.likes }}</div>
                            <div class="stats pull-right">
                                <p class="category"><i
                                        class="material-icons">category</i>{{ article.tags.verbose_name }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}