{% load static i18n %}

<dev class="top">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="{% url 'magazine:index' %}">Журнал</a>
                </li>
                <li>
                    <a href="{% url 'events:index' %}">Ивенты</a>
                </li>
                <li>
                    <a href="{% url 'jobs:index' %}">Ваканции</a>
                </li>
                <li>
                    <a href="{% url 'salaries' %}">Зарплаты</a>
                </li>
                <li>
                    <a href="{% url 'edu:index' %}">Образование</a>
                </li>
            </ul>
        </nav>
    </div>
</dev>