{% load static i18n %}

<dev class="top">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="/">Журнал</a>
                </li>
                <li>
                    <a href="/events">Ивенты</a>
                </li>
                <li>
                    <a href="/jobs">Ваканции</a>
                </li>
                <li>
                    <a href="/salaries">Зарплаты</a>
                </li>
                <li>
                    <a href="/edu">Образование</a>
                </li>
            </ul>
        </nav>
    </div>
</dev>